
.navbar {
    display: flex;
    justify-content: space-between;
    height: 6vh;
}

.navbar .link {
    padding-top: 1vh;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: aliceblue;
    letter-spacing: 0.2em;
    cursor: pointer;
    border-bottom: 2px solid transparent;
}

.navbar .link:hover{
    border-bottom: 2px solid aliceblue;
}

.navbar .username-with-icon{
    padding-top: 1vh;
    padding-right: 1vw;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    color: aliceblue;
    letter-spacing: 0.2em;
    border-bottom: 2px solid transparent;
}

.navbar .logo{
    padding-left: 1vw;
    padding-top: 1vh;
    color: #feb934;
    border-bottom: 2px solid transparent;

}