
.navbar {
    display: flex;
    justify-content: space-around;
    height: 6vh;
}

.navbar .link {
    padding-top: 1vh;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 3vh;
    font-weight: bolder;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: aliceblue;
    letter-spacing: 0.2em;
    cursor: pointer;
    border-bottom: 2px solid transparent;
}

.link:hover{
    border-bottom: 2px solid aliceblue;
}
