:root{
    --toastify-color-success: #8bd48d !important;
}

body{
    background-color: rgba(28,162,184);
    color: azure;
    font-family: 'Nunito Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 3%;
}


.timetable-container-with-arrows{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(188,228,246,0.58);
    border: 1px solid rgba(188, 228, 246, 0.31);
    border-radius: 0.3%;
    padding: 1%;
    width: 80vw;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.timetable{
    padding-bottom: 2%;
    width: 100%;
}

.days{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.slots{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 1%;
    width: 100%;
}

.slots .day-number{
    background-color: #feb934;
    height: 1.8rem;
    font-size: 1.4rem;
}

.slots .day-text{
    height: 1.4rem;
    background-color: #fede95;
}

.slots p{
    color: #282c34 ;
    background-color: aliceblue;
    padding: 4px 4%;
    margin: 1.5px;
    border-radius: 2%;
    height: 40px;
    text-align: center;
}

.courts{
    display: flex;
    justify-content: space-between;
}

.courts span{
    padding: 1% 5%;
    margin-bottom: 1%;
    margin-top: 1%;
    border: 2px solid aliceblue;
    border-radius: 3%;
}

.courts span:hover{
    background-color: azure;
    color: rgba(28,162,184);
}

.selectedCourt{
    background-color: azure;
    color: rgba(28,162,184);
}

.left-side{
    display: flex;
    flex-direction: column-reverse;
    margin-right: 1%;
    margin-bottom: 2% ;
}

.times{
    margin-top: 200%;
}

.times p{
    color: #282c34 ;
    padding: 3px 4%;
    margin: 4px 3%;
    border-radius: 2%;
    height: 40px;
    width: 100px;
    text-align: center;
}

.right {
    animation: 1.5s anim-swipeRight ease-out;
}

@keyframes anim-swipeRight {
    0% {
        opacity: 0;
        transform: translateX(80%);
    }
    20% {
        opacity: 0;
    }
    50% {
        opacity: 1;
        transform: translateX(0%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

.left {
    animation: 1.5s anim-swipeLeft ease-out;
}

@keyframes anim-swipeLeft {
    0% {
        opacity: 0;
        transform: translateX(-80%);
    }
    20% {
        opacity: 0;
    }
    50% {
        opacity: 1;
        transform: translateX(0%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

.addToCartIcon:hover{
    animation: wiggle 2s linear;
}

@keyframes wiggle {
    0%, 7% {
        transform: rotateZ(0);
    }
    15% {
        transform: rotateZ(-15deg);
    }
    20% {
        transform: rotateZ(10deg);
    }
    25% {
        transform: rotateZ(-10deg);
    }
    30% {
        transform: rotateZ(6deg);
    }
    35% {
        transform: rotateZ(-4deg);
    }
    40%, 100% {
        transform: rotateZ(0);
    }
}

.home-container{
    flex-grow : 1;
    z-index: -1;
    display: block;
    position: absolute;
    top: 50px;
    bottom: 0;
    overflow: hidden;
    width: 100%;
}

.home-container::after {
    content: "";
    background-size: cover;
    background: url('../images/homebg.jpg') no-repeat;
    opacity: 60%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.home-container-content{
    padding: 4%;
}

.home-container-content .upper{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.home-container .bottom{
    display: flex;
    justify-content: flex-end;
}

.home-container p{
    width: 60vw;
    text-transform: uppercase;
    text-align: justify;
    font-weight: bold;
    letter-spacing: 0.1em;
    font-size: 3vh;
    line-height: 2em;
    padding: 10px;
}

.popout {
    font-weight: 900;
    font-size: 12vh;
    margin: 0;
}
@keyframes ani {
    0% {
        transform: translate3d(0, 0, 0);
        text-shadow: 0em 0em 0 #feb934;
        color: #0d4a5c;
    }
    30% {
        transform: translate3d(0, 0, 0);
        text-shadow: 0em 0em 0 #feb934;
        color: #0d4a5c;
    }
    70% {
        transform: translate3d(0.08em, -0.08em, 0);
        text-shadow: -0.08em 0.08em #feb934;
        color: #0d4a5c;
    }
    100% {
        transform: translate3d(0.08em, -0.08em, 0);
        text-shadow: -0.08em 0.08em #feb934;
        color: #0d4a5c;
    }
}
.popout span {
    position: relative;
    display: inline-block;
    animation: ani 1s infinite alternate cubic-bezier(0.86, 0, 0.07, 1);
}
.popout span:nth-last-child(1n) {
    animation-delay: -0.1666666667s;
}
.popout span:nth-last-child(2n) {
    animation-delay: -0.3333333333s;
}
.popout span:nth-last-child(3n) {
    animation-delay: -0.5s;
}

