.cards-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(188,228,246,0.58);
    width: 83%;
    letter-spacing: 0.06em;
    margin-right: 8.5%;
    margin-left: 8.5%;
    border-radius: 3px;
}

.cards{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

.card{
    width: 350px;
    color: #282c34;
    background: #fff;
    margin: 15px 13px;
    border-radius: 3px;
    padding: 15px 0 0 0;
}

.card span{
    font-size: 20px;
    font-weight: bold;
    float: right;
    padding-right: 6%;
}

.card p{
    padding-left: 20px;
}

.price-tag-container{
    background-color: #7fc9db;
    display: flex;
    justify-content: flex-end;
}
.price{
    margin: 0;
    text-align: right;
    width: 40%;
    background-color: #feb934;
    padding: 5% 3% 3% 3%;
    border-bottom-right-radius: 3px;
    font-weight: bold;
}

.cancel-btn{
    background-color: lightgrey;
    padding-top: 3%;
    margin: 0;
    border-bottom-left-radius: 3px;
    padding-left: 0 !important;
    cursor: pointer;
}

.cancel-btn:hover{
    transform: translatex(3px);
}

.total{
    background-color: #fff;
    font-size: 18px;
    color: #282c34;
    width: 35%;
    height: 50%;
    padding: 20px;
    margin: 15px 15px;
    border-radius: 3px;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
}

.total div{
    display: flex;
    justify-content: space-between;
    padding: 0;
    background: #fff;
    margin: 3% 0;
}

.total-price{
    font-weight: bold;
}

.total span{
    padding: 12px 12px;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
    border-radius: 3px;
    cursor: pointer;
}

.total span:hover {
    transform: translatey(3px);
}

.delete-all-btn{
    background-color: lightgrey;
    color: #282c34;
}

.go-to-checkout-btn{
    background-color: rgba(20, 141, 167, 0.85);
    color: #ffffff;
}