body{
    background-color: rgba(28,162,184);
    color: azure;
    font-family: 'Nunito Sans', sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

table{
    color: #282c34;
    background-color: rgba(188,228,246,0.58);
    border: 1px solid rgba(188, 228, 246, 0.31);
    border-radius: 0.2%;
    margin: 2%;
    padding: 2%;
}

td{
    padding: 0.6rem 1.2rem;
    border: 1px solid rgba(188, 228, 246, 0.31);
    border-radius: 1%;
    background-color: aliceblue;

}

.days{
    display: flex;
    flex-direction: row;
    width: 65%;
    background-color: rgba(188,228,246,0.58);
    border: 1px solid rgba(188, 228, 246, 0.31);
    border-radius: 0.2%;
    margin: 2%;
    padding: 2%;
}

.slots{
    display: flex;
    flex-direction: column;
    padding-top: 12%;
    width: 14.2%;
}

.slots ul{
    list-style-type: none;
    padding-left: 0;
    padding-right: 0;
}

.slots li{
    color: #282c34 ;
    background-color: aliceblue;
    padding: 4%;
    margin: 3%;
    border-radius: 1%;
    width: 60%;
}
.slots .day-number{
    background-color: #feb934;
    font-size: 1.4rem;
    font-weight: bold;
}

.slots .day-text{
    background-color: #fede95;
    font-weight: bold;
}

.slots p{
    color: #282c34 ;
    background-color: aliceblue;
    padding: 5% 4%;
    margin: 1.5% 3%;
    border-radius: 2%;
    width: 90%;
    text-align: center;
}